
body { 
    background-image: url('https://tw720919057.files.wordpress.com/2021/11/1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    padding: 15px;
    width: 90%;
    border: 1px solid orange;
    text-align: center;
}
/*container*/

.logo {
  width: 200px;
  height: 200px;
  border: 1px solid blue;
  margin-bottom: 10px;
}




.container {
  position: relative;
  display: inline-block;
  margin-top: 35px;
  margin-left: 10px;
  margin-bottom: 75px;
  clear: both;
  height: 500px;
  width: 150px;
  border: 1px solid red;
}

#change-bgcolor1 {
  background-color: white;
}

#change-bgcolor2 {
  background-color: red;
}

#change-bgcolor3 {
  background-color: green;
}

#change-bgcolor4 {
  background-color: blue;
}

#change-bgcolor5 {
  background-color: orange;
}

#change-bgcolor6 {
  background-color: pink;
}


img {
max-width: 200px;
max-height: 200px;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  /*background-color: #A58FC3;*/
  float: left;
  height: 500px;
  width: 150px;

}

.container:hover .overlay {
  opacity: .8;
  background-image: url("https://tw720919057.files.wordpress.com/2021/12/glitching-error.gif");
  background-size: 150px 500px;

}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
