

body { 
    background-image: url('/Users/7om3/Desktop/ART3382_html/imgs/1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .hideone:hover {
  display: show;
  overflow-x: hidden;
  opacity: 0.3; 
  content: hidden;
}

.one h1 {
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
}
.one {
    transition:transform.10s; 
    background-color: beige;
    position : absolute;
    left : 190px;
    top : 140px;
    width : 174px;
    height : 570px;
    opacity: 0.4; 
    overflow-x: hidden;
    display: block;
}
.one:hover {
transform: scale(1.05);
opacity: 100%;
overflow-x: hidden;
display: inline-block;

}
.one h1:hover{
    text-shadow: gray;
}

.hidetwo {
    display: none;
    overflow-x: hidden;
  }
  .two h1 {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
  }
  .two {
      padding: 0px;
      background-color: rgb(211, 127, 58);
      transition: transform .10s; /* Animation */
      position : absolute ;
      left : 390px;
      top : 80px;
      width : 174px;
      height : 570px;
      opacity: 0.4; 
      overflow-x: hidden;
      box-sizing: border-box;
  }
  .two:hover {
  transform: scale(1.05);
  opacity: 100%;
  overflow-x: hidden;
  }
  .hidetwo h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    left : 590px;
    top : 50px;
    font-family: acumin-pro, sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .hidethree {
    display: none;
    overflow-x: hidden;
  }
  
  .three h1 {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
  }
  .three{
      padding: 0px;
      background-color: rgb(177, 0, 24);
      transition: transform .10s; /* Animation */
      position : absolute ;
      left : 590px;
      top : 140px;
      width : 174px;
      height : 570px;
      opacity: 0.4; 
      overflow-x: hidden;
  }
  .three:hover {
  transform: scale(1.05);
  opacity: 100%;
  overflow-x: hidden;
  }

  .hidethree h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    left : 590px;
    top : 50px;
    font-family: acumin-pro, sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .four h1 {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
  }

  .hidefour {
    display: none;
    overflow-x: hidden;
  }
  .four:hover + .hidefour {
    display: block;
    overflow-x: hidden;
  }
  .four{
      padding: 0px;
      background-color: rgb(0, 169, 221);
      transition: transform .10s; 
      position : absolute ;
      left : 790px;
      top : 80px;
      width : 174px;
      height : 570px;
      opacity: 0.4; 
      overflow-x: hidden;
  }
  .four:hover {
  transform: scale(1.05);
  opacity: 100%;
  overflow-x: hidden;
  }
  
  .hidefour h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    left : 840px;
    top : 650px;
    font-family: acumin-pro, sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .hidefive {
    display: none;
    overflow-x: hidden;
    color: white;
    left : 990px;
    top : 140px;
    width : 174px;
    height : 570px;
  }

  .hidefive h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    left : 1050px;
    top :50px;
    font-family: acumin-pro, sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .five h1 {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
  }
  .five:hover + .hidefive  {
    display: block;
    overflow-x: hidden;
  }
  .five {
      padding: 0px;
      background-color: rgb(143, 15, 202);
      transition: transform .10s; 
      position : absolute ;
      left : 990px;
      top : 140px;
      width : 174px;
      height : 570px;
      opacity: 0.4; 
      overflow-x: hidden;
  }
  .five:hover {
  transform: scale(1.05);
  opacity: 100%;
  overflow-x: hidden;
  }
